/HW1/foo.bin
/HW1/halp
/HW1/key.bin
/HW1/key.hex
/HW1/key.hex~
/HW1/temp
/HW1/temp.hex
/HW2/CIS4362fa16_Ex02.txt~
/HW2/Makefile~
/HW2/README.txt~
/HW2/dog
/HW2/dogpad
/HW2/dog~
/HW2/key.bin
/HW2/key.hex
/HW2/key.hex~
/HW2/prog2_2~
/HW2/tp~
/HW1/Report_1~
/HW1/README.txt~
HW1/foo
